@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@700&family=Barlow:wght@500&family=Bitter&family=Caveat:wght@700&family=Chakra+Petch:wght@600&family=Cormorant+Garamond&family=Creepster&family=Dancing+Script:wght@500&family=Kalam:wght@400;700&family=Kalnia&family=Libre+Baskerville&family=Merriweather&family=Mooli&family=Mulish&family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: Bitter;
}